body {
  background: #1b1c1d !important;
}

body .pushable > .pusher > main {
  background: #fff;
  padding-bottom: 1.5rem;
}

.pushable,
.pushable > .pusher {
  min-height: 100vh;
}

body .pushable > .pusher > footer {
  margin-top: 0;
  padding: 1.5rem 0 5rem 0;
}

body .pushable > .pusher > footer .ui.horizontal.list > .item {
  line-height: 1.2em !important;
}

.embed-responsive-item {
  display: block;
  margin: 1rem auto;
}

figure > figcaption,
.remark-code-title {
  padding: 0.2em;
  background: #eee;
}

.remark-code-title {
  font-size: smaller;
}

.remark-code-title + pre {
  margin-top: 0;
}

.remark-oembed-inline {
  padding: 0.5rem;
  background: #eee;
  margin-bottom: 1em;
}

.remark-oembed-inline.remark-oembed-you-tube {
  padding: 0.8rem;
}

.remark-oembed-inline.remark-oembed-you-tube > iframe {
  width: 100%;
  min-height: min(50vw, 420px);
  display: block;
  margin: auto !important;
}

.remark-oembed-inline.remark-oembed-twitter > * {
  margin: 0.3rem auto !important;
}

@media only screen and (max-width: 767.98px) {
  article.list-item > .ui.stackable.grid {
    margin-left: -1rem !important;
    margin-right: -1rem !important;
  }
}

article.post-item > header {
  margin-bottom: 0.3em;
}
article.post-item > .meta > .item {
  line-height: 1.2em !important;
}
article.post-item > footer > .menu > .item {
  max-width: 35%;
}
@media only screen and (max-width: 767.98px) {
  article.post-item > footer > .menu > .item {
    max-width: initial;
  }
}
